*{
    background-color: #385170; 
}

.body{

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #9fd3c7;
    margin-bottom: 5em;
}
.heading-text {
    background-color: #9fd3c7;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: #385170;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    padding-top: 15em;
}

.buttons {
    background-color: #9fd3c7;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 0px;
    margin: 7px;

}

.buttons:active {
    transform: translateY(2px);
}

.Reset {
    margin-top: 3em;
}

.gridContainer {
    justify-content: center;
    flex-grow: 1;    
}

.row {
    display: flex;
    justify-content: center;


}

.grid {
display: flex;
justify-content: center;
margin-bottom: 1em;
}

.gridCell {
    display: flex;
    flex-direction: column;
    background-color: #ececec; 
    height: 20px;
    width: 20px;
}

.paintedCell {
    background: #142d4c;
}
